<div class="home-wrapper">
<div class="container">
    <div class="jumbotron">
        <h1>Hello world!</h1>
        <p>'Ello Worldddd</p>
    </div>
    <div class="row">
        <div class="debris col-md-4"><h3>Core Equity Fact Sheet</h3></div>
        <div class="debris col-md-4"><h3>Newsletters</h3></div>
        <div class="debris col-md-4"><h3>PSN Performance Charts</h3></div>
    </div>
    <div class="row">
        <div class="col-lg-6"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius magni, beatae sapiente iusto repellat quas totam dolor minima dicta dolores, facere esse sit nesciunt dignissimos sed perspiciatis voluptatum, deleniti quasi!</p></div>
        <div class="col-lg-6"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem sequi at nisi tenetur odit excepturi ullam exercitationem, libero totam, deserunt explicabo dignissimos incidunt quisquam in itaque laborum, magni nemo nihil!</p></div>
    </div>        
</div>
</div>